language: node_js
node_js:
  - 14
before_script:
  - source server/.env # load environment variables from .env file
  - sudo service redis-server start # start Redis server
services:
  - redis-server
env:
  - TOKEN=$TOKEN
  - CLIENT_ORIGIN_URL=$CLIENT_ORIGIN_URL
  - AUTH0_AUDIENCE=$AUTH0_AUDIENCE
  - AUTH0_DOMAIN=$AUTH0_DOMAIN
  - TOKEN_NOROLE=$TOKEN_NOROLE
script:
  - cd server
  - npm install
  - npm run test