language: node_js
node_js:
  - "14"
script:
  - cd app
  - echo "-----Build Start-----"
  - echo "-----Installing Dependencies-----"
  - npm install
  - echo "-----Running Tests-----"
  - npm run test